/** @format */

#music {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center;

  background-size: cover;
  position: relative;
  overflow-y: hidden;
  transition: all 0.8s ease-in-out;
}
.music-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.815) 40%,
    rgba(83, 3, 129, 0.664)
  );
  background-color: rgba(0, 0, 0, 0.205);
}
.music-contents {
  padding: 0 3%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.music-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 75%;
  flex-direction: column;
  margin-left: 0rem;

  .music-img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    color: white;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    .img-flop {
      width: 100%;
      height: 70%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px;
      background: linear-gradient(rgb(43, 29, 83), rgba(255, 255, 255, 0));
      transform: rotateY(0deg) translateZ(-100px) translateY(100px);

      h2 {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        position: absolute;
        bottom: 0.5rem;
        letter-spacing: 1px;
        left: 50%;
        color: rgb(230, 230, 230);
        transform: translateX(-50%);
      }
    }
    img {
      border: 3px solid rgba(255, 255, 255, 0.452);
      border-radius: 1%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.144);
      transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      margin: 0 auto;
      transform: translateZ(100px);
      &:hover {
        transform: translateY(-60px);
      }
    }

    .animate {
      animation: identifier 8s infinite linear;
      transition: all 1s ease;
    }
  }
  @keyframes identifier {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .music-controls-icon {
    width: 8rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    .fas {
      color: rgba(255, 255, 255, 0.733);
      cursor: pointer;
      width: 20px;
      opacity: 0.6;
      padding: 0.45rem;
      margin: 0 0.6rem;
      &:hover {
        opacity: 1;
        background-color: rgb(65, 64, 64);

        color: rgb(109, 109, 109);
      }
    }
  }
  .music-duration {
    width: 20rem;
    height: 0.3rem;
    position: relative;
    background-color: rgb(67, 17, 77);

    .music-float-bar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(255, 255, 255);
      width: 0rem;
      height: 100%;
    }
  }
}
.music-img-left {
  width: 12rem;
  position: absolute;
  left: 3%;
  top: 35%;
  background-color: white;
  height: 33rem;
  transform: translateY(-30%);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.music-playlist {
  overflow-y: auto;
  height: 25rem;
  .music-flex-list {
    width: 100%;
    height: 100%;

    .music-list {
      margin: 0.6rem;
      width: 15rem;
      height: 3rem;
      background-color: rgb(56, 55, 55);
      display: flex;
      align-items: center;

      .music-img {
        margin-left: 0.5rem;
        width: 25px;
        height: 25px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .music-player {
        width: 30px;
        margin-left: 0.8rem;
        .fas {
          color: rgba(255, 255, 255, 0.411);
          font-size: 0.9rem;
          cursor: pointer;
        }
      }
      .music-name {
        p {
          word-wrap: break-word;
          color: rgba(255, 255, 255, 0.699);
          font-family: "Raleway", sans-serif;
          font-size: 0.8rem;
        }
      }
      &:hover {
        background-color: rgb(102, 5, 102);
      }
    }
    h2 {
      font-family: "Raleway", sans-serif;
      color: rgba(255, 255, 255, 0.514);
      font-size: 0.9rem;
      letter-spacing: 1px;
      margin-left: 0.8rem;
      font-weight: 500;
      margin-top: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 0.3rem;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(56, 56, 56);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 190);
  }
}
.music-footer {
  position: fixed;
  width: 100%;
  height: 10rem;
  bottom: 0;
  left: 0;
}
.music-footer-contents {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  .music-footer-1,
  .music-footer-2,
  .music-footer-3,
  .music-footer-4 {
    margin: 0 0.6rem;
    width: 25%;
    height: 100%;
  }
  .music-footer-1,
  .music-footer-2,
  .music-footer-3,
  .music-footer-4 {
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
    .flip,
    .flop {
      width: 100%;
      height: 100%;
      transition: all 0.6s ease-in-out;

      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, black, rgba(255, 255, 255, 0));
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .flip {
      transform: translateZ(100px);
      h2 {
        margin: 0;
        position: absolute;
        top: 0.8rem;
        left: 0.5rem;
        color: rgba(255, 255, 255, 0.788);
        font-size: 1.1rem;
        font-family: "Raleway", sans-serif;
        background: transparent;
      }
    }
    .flop {
      transform: rotateX(-90deg) translateZ(-100px);
      background: transparent;
      h2 {
        margin: 0;
        position: absolute;
        top: 1.1rem;
        left: 1rem;
        color: rgba(255, 255, 255, 0.788);
        font-size: 1.1rem;
        font-family: "Raleway", sans-serif;
        background: transparent;
      }
      .footer-player {
        position: absolute;
        z-index: 30;
        top: 40%;

        left: 1rem;
        color: rgb(206, 206, 206);
        cursor: pointer;
        .footer-icon {
          font-size: 0.9rem;
        }
      }
    }
    &:hover {
      transform: rotateX(90deg);
    }
  }
}
@media screen and (max-width: 750px) {
  .music-footer-contents {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    .music-footer-1,
    .music-footer-2,
    .music-footer-3,
    .music-footer-4 {
      margin: 0 0.6rem;
      width: 25%;
      height: 100%;
    }
    .music-footer-1,
    .music-footer-2,
    .music-footer-3,
    .music-footer-4 {
      transform-style: preserve-3d;
      transition: all 0.6s ease-in-out;
      .flip,
      .flop {
        width: 100%;
        height: 100%;
        transition: all 0.6s ease-in-out;

        position: relative;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, black, rgba(255, 255, 255, 0));
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .flip {
        transform: translateZ(100px);
        h2 {
          margin: 0;
          position: absolute;
          top: 0.8rem;
          left: 0.5rem;
          color: rgba(255, 255, 255, 0.788);
          font-size: 0.8rem;
          font-family: "Raleway", sans-serif;
          background: transparent;
        }
      }
      .flop {
        transform: rotateX(-90deg) translateZ(-100px);
        background: transparent;
        h2 {
          margin: 0;
          position: absolute;
          top: 1.1rem;
          left: 0.2rem;
          color: rgba(255, 255, 255, 0.788);
          font-size: 0.8rem;
          font-family: "Raleway", sans-serif;
          background: transparent;
        }
        .footer-player {
          position: absolute;
          z-index: 30;
          top: 30%;

          left: 0.5rem;
          color: rgb(206, 206, 206);
          cursor: pointer;
          .footer-icon {
            font-size: 0.7rem;
          }
        }
      }
      &:hover {
        transform: rotateX(90deg);
      }
    }
  }
  .music-main {
    position: relative;
    bottom: 2rem;
    .music-img {
      width: 250px;
      height: 250px;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 500px) {
  .music-footer-contents {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    .music-footer-1,
    .music-footer-2,
    .music-footer-3,
    .music-footer-4 {
      margin: 0 0.6rem;
      width: 25%;
      height: 100%;
    }
    .music-footer-1,
    .music-footer-2,
    .music-footer-3,
    .music-footer-4 {
      transform-style: preserve-3d;
      transition: all 0.6s ease-in-out;
      .flip,
      .flop {
        width: 100%;
        height: 100%;
        transition: all 0.6s ease-in-out;

        position: relative;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, black, rgba(255, 255, 255, 0));
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .flip {
        transform: translateZ(50px);
        h2 {
          margin: 0;
          position: absolute;
          top: 0.8rem;
          left: 0.5rem;
          color: rgba(255, 255, 255, 0.788);
          font-size: 0.8rem;
          font-family: "Raleway", sans-serif;
          background: transparent;
        }
      }
      .flop {
        transform: rotateX(-90deg) translateZ(-50px);
        background: transparent;
        h2 {
          margin: 0;
          position: absolute;
          top: 1.1rem;
          left: 0.2rem;
          color: rgba(255, 255, 255, 0.788);
          font-size: 0.8rem;
          font-family: "Raleway", sans-serif;
          background: transparent;
        }
        .footer-player {
          position: absolute;
          z-index: 30;
          top: 39.5%;

          left: 0.3rem;
          color: rgb(206, 206, 206);
          cursor: pointer;
          .footer-icon {
            font-size: 0.6rem;
          }
        }
      }
      &:hover {
        transform: rotateX(90deg);
      }
    }
  }
  .music-footer {
    position: absolute;
    width: 100%;
    height: 10.5rem;
    bottom: 0rem;
    left: 0;
  }
  .music-footer-contents {
    display: grid;
    height: 100%;
    position: relative;
    bottom: 1.2rem;

    .music-footer-1 {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      height: 100px;
      margin: 0;
    }
    .music-footer-2 {
      grid-column: 2/3;
      width: 100%;
      grid-row: 1/2;
      height: 100px;
      margin: 0;
    }
    .music-footer-3 {
      grid-column: 1/2;
      width: 100%;
      grid-row: 2/3;
      margin: 0;
      height: 100px;
    }
    .music-footer-4 {
      grid-column: 2/3;
      width: 100%;
      grid-row: 2/3;
      height: 100px;
      margin: 0;
    }
  }
}
